block nav
  nav.navigation
    .nav-wrapper
      a.brand-logo.left(href="/") About
      ul#nav-mobile.right
        li
          a(href="/#parents") Parent Portal
        li
          a(href="/join") Join 
        li
          a(href="/login") Login
