block nav
  nav.navigation
    .nav-wrapper
      a.brand-logo.left(href="/") Hamster Wheel
      ul#nav-mobile.right
        li
          a(href="/join") About 
        li
          a(href="/login") Login
