block nav
    nav
      .nav-wrapper
        a.brand-logo(href="/") Logo
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href="/signup") Sign up
          li
            a(href="/login") Login
