block nav
  nav.light-blue.lighten-2
    .nav-wrapper
      a.brand-logo.left(href="/") Hamster Wheel
      ul#nav-mobile.right
        li
          a(href="/join") Join
        li
          a(href="/login") Login
