extend index

block content
    div.container.col.s11 Login
        form(action="/login")
            .input-field
                input(id="username" type="text" name="userfield")
                label(for="userfield") Username
        
            .input-field
                input(id="password" type="password" class="validate")
                label(for="password") Password
            a.waves-effect.waves-light.btn-large Log In