extend index

block content
    div Login
    form(action="/login")
        .input-field(col s12)
            input(id="username" type="text" name="userfield")
            label(for="userfield") Username
      
        .input-field(col s12)
            input(id="password" type="password" class="validate")
            label(for="password") Password