extend index

block nav
    nav
        .nav-wrapper
            a.brand-logo(href='#') Logo
            ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href="/") Home
            li
                a(href="/login") Login
            li
                a(href="/signup") Signup
