extend index

block content
    div Sign Up for Access
    form(action="/signup")
        label(for="userfield") Username
        input(type="text" placeholder="Username" name="userfield")
        label(for="passfield") Password
        input(type="pasword" placeholder="Password" name="passfield")