extend index

block content
    .container
        h2 Project Description
        p Hamster Wheel was founded to provide a fun and positive interactive learning environment for the age of 1 to 3 years old.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna.
        p Nam convallis placerat sapien non accumsan. Maecenas luctus diam purus, vel tempor velit fermentum at. Nam eu lorem posuere nisi volutpat venenatis sed ac diam. Integer hendrerit metus id lorem facilisis finibus. Phasellus convallis odio non eros facilisis, sit amet ornare odio aliquam. Nullam aliquam sem ut nibh mattis dictum. Ut posuere faucibus eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque a mattis tellus. Sed dictum orci ac sollicitudin tincidunt. Aenean malesuada magna vitae imperdiet consectetur. Pellentesque ultricies ullamcorper sem. Aliquam erat volutpat. Proin vulputate fringilla interdum. 
        a(href="#") App Link

        h2 Parent Portal Description
        p Hamster Wheel was founded to provide a fun and positive interactive learning environment for the age of 1 to 3 years old.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna.
        p Nam convallis placerat sapien non accumsan. Maecenas luctus diam purus, vel tempor velit fermentum at. Nam eu lorem posuere nisi volutpat venenatis sed ac diam. Integer hendrerit metus id lorem facilisis finibus. Phasellus convallis odio non eros facilisis, sit amet ornare odio aliquam. Nullam aliquam sem ut nibh mattis dictum. Ut posuere faucibus eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque a mattis tellus. Sed dictum orci ac sollicitudin tincidunt. Aenean malesuada magna vitae imperdiet consectetur. Pellentesque ultricies ullamcorper sem. Aliquam erat volutpat. Proin vulputate fringilla interdum. 
        a(href="#") Link to parent portal

        h2 Developers
        .row.devel
            img.profile(src="imgs/img_avatar2.png")
            .devel Phyllis Wong
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna. 
        .row.devel
            img.profile(src="imgs/img_avatar.png")
            .devel Donovan Adams
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna.
        .row.devel
            img.profile(src="imgs/img_avatar2.png")
            .devel Nelly
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna.
        .row.devel
            img.profile(src="imgs/img_avatar.png")
            .devel Bob
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna.
        .row.devel
            img.profile(src="imgs/img_avatar2.png")
            .devel Justin Sitter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at commodo tortor. Nullam a tincidunt nisi. Nulla ornare nec elit luctus consectetur. Etiam at faucibus elit. Nullam eget sapien nec nunc accumsan convallis non quis justo. Mauris lacinia convallis urna a dictum. Nam blandit augue sit amet sollicitudin auctor. Sed scelerisque cursus augue, id congue diam iaculis sit amet. Mauris dignissim, lectus quis venenatis eleifend, mauris erat congue ex, ac tempor mauris magna sit amet massa. Praesent tempor orci magna, sed rutrum mauris euismod eget. Aliquam non dolor felis. In auctor arcu et sapien pretium, id cursus lorem varius. Cras iaculis, nulla quis pharetra egestas, nibh est semper magna, sit amet pharetra arcu nibh vitae magna.
        
