@font-face {
    font-family: wickedmouse;
    src: url('../fonts/WickedMouseDemo.otf');
}

@font-face {
    font-family: juniortyping;
    src: url('../fonts/ABCJuniorTyping.ttf');
}

*{
    font-size: 20px;
    font-family: juniortyping;
    color: blue;
    
}

