@font-face {
    font-family: wickedmouse;
    src: url('../fonts/WickedMouseDemo.otf');
}

@font-face {
    font-family: juniortyping;
    src: url('../fonts/ABCJuniorTyping.ttf');
}

*{
    font-size: 20px;
    color: #555;
    
}
/***

Text

***/
header *{
    font-family: wickedmouse;
}

header a{
    font-size: 2em;
    color: #1E9296;
}

/* This is the hamster wheel logo that appears in the 
navagation sometimes(?)
*/
.brand-logo {
    font-family: wickedmouse;
}
.navigation{
    background-color: purple;
}

.header-link{
    display: absolute;
    right: 50%;
}
/***

Layouts

***/

header{
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #dce7ed;
    background-image: url('../imgs/hamster-splash.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
    /* filter: hue-rotate(180deg);
    filter: grayscale(50%); */
    filter: saturate(2);
    filter: opacity(70%)

    
}


nav-wrapper{
    background-color: #D8165A;
}

nav{
    margin-bottom: 2em;
}

.brand-logo{
    visibility: hidden;
}


.desc{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

