@font-face {
    font-family: wickedmouse;
    src: url('../fonts/WickedMouseDemo.otf');
}

@font-face {
    font-family: juniortyping;
    src: url('../fonts/ABCJuniorTyping.ttf');
}

*{
    color: #555;
    
}
/***

Text

***/
.container p{
    max-width: 30em;

}

header *{
    font-family: wickedmouse;
}

header a{

    font-size: 60px;
    color: #D7098C;
}


/* This is the hamster wheel logo that appears in the 
navagation sometimes(?)
*/
.brand-logo {
    font-family: wickedmouse;
}



/***

Layouts

***/
body{
    padding-top: 400px;
}

header{

    background-color: #dce7ed;
    background-image: url('../imgs/hamster-splash.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 400px;
    /* filter: hue-rotate(180deg);
    filter: grayscale(50%); */
    filter: saturate(1);

    z-index: -1000;

    
}


.main-body{
    background-color: rgba(255,255,255,1);

}

.content-body{
    padding: 100px 50px 300px;
}
.content-body p{
    font-size: 30px;
}
.overlay{
    padding-top: 80px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
}

.devel{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.description{
    padding: 25px;
    color: purple;
}

.profile{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.navigation{
    background-color: #2b3351;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,.4); 
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: -80px;
    top: 0px;
    
}

.header-link{
    display: absolute;
    right: 50%;
}

.main-body{
    position: relative;
}
.main-nav-scrolled, header{
    position: fixed;
    top: 0;
    width: 100%;

}


@media (min-width: 500px){
    .overlay > a {
        
    }

    .profile{
        float: left;
    }

    html{
        font-size: 20px;
    }
}
